@keyframes flicker {
    
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #002fff,
        0 0 80px #002fff,
        0 0 90px #002fff,
        0 0 100px #002fff,
        0 0 150px #002fff;
     }
    
    20%, 24%, 55% {        
        text-shadow: none;
    }    
  }
.navegation{
   background-color: #151515;
   display: flex;
   justify-content: space-around;
   color: #FFFFFF;
   font-size: 1.4rem;
   align-items: center;
   position: fixed;  
   width: 100vw;  
   z-index: 1;
   letter-spacing: 0.3em;
}
.navegation__Letters{
    font-family: 'Cinzel Decorative', cursive;
    animation: flicker 2s infinite alternate;
}
.navegation__Special{
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
}
.navegation:first-line{
    color: #151515;
}
.navegation__Letters:hover{
    font-weight: 700;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration:underline;
}
@media screen and (max-width: 1024px){
    .navegation{
        font-size: 0.7rem;
        letter-spacing: 0.1em;
    }
    .navegation__Letters{
        animation: none;
    }
}
