*{
    margin: 0;
    padding: 0;
}

.relogio{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/starfall-gif-46.gif");
    background-size: cover; 
}

.display{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    border-radius: 10px;
    color: white;
    font-size: 7rem;
    font-family: 'Anton', sans-serif;
}
